<div class="mx-auto" style="max-width: 540px;">
  <div class="card w-75 mx-auto">
    <div class="card-body">
      <h2 class="card-title"><%= t('.sign_up') %></h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <% help = t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password", help: %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="d-grid gap-2">
          <%= f.primary t('.sign_up') %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>