<% if current_user.home %>
  <div data-controller="dashboard" data-dashboard-url-value="<%= home_path(format: "json") %>">
    <div data-dashboard-target="cards" style="">
      <div class="card mb-2">
        <div class="card-header">
          Rekuperace
          <%= icon("spinner spin 3x fw", "Login in progress") if current_user.home.duplex_login_in_progress %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Aktuální výkon</h5>
          <h6 data-dashboard-target="currentMode" class="card-subtitle mb-2 text-muted"></h6>
          <div class="progress">
            <div data-dashboard-target="currentPowerProgressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to icon("power-off", "Vypnout"), scenario_home_path(scenario: "poweroff"), data: { method: "patch", remote: true, confirm: t(:text_are_you_sure), disable_with: t(:text_send_to_unit) }, class: "btn btn-danger" %>
          <%= link_to icon("cogs", "Automatika"), scenario_home_path(scenario: "auto"), data: { method: "patch", remote: true, confirm: t(:text_are_you_sure), disable_with: t(:text_send_to_unit) }, class: "btn btn-secondary" %>
          <%#= link_to icon("bullseye", "Větrání"), "", class: "btn btn-secondary" %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Teplota
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Venku 🌳</dt>
            <dd class="col-sm-9" data-dashboard-target="outdoorTemperature"></dd>
            <dt class="col-sm-3">Uvnitř 🏠</dt>
            <dd class="col-sm-9" data-dashboard-target="indoorTemperature"></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <%= link_to icon("edit", t(:button_edit)), edit_home_path, title: t(:button_edit) %>
<% else %>
  <%= render template: "new" %>
<% end %>
