<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <title><%= html_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= yield :stylesheet_tags %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_packs_with_chunks_tag 'application' %>
  <%= yield :javascript_tags %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>" data-menu-item="<%= @menu_item.to_sym %>">
<header data-turbolinks-permanent>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= fa_icon('bars') %>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render_menu(:top_menu) %>
      <%= render_menu(:top_menu_account, { container_class: 'mr-right' }) %>
    </div>
  </nav>
</header>
<div id="flash_messages"><%= render_flash_messages.html_safe -%></div>
<section id="main" class="container">
  <%= yield %>
</section>
<footer class="fixed-bottom d-none d-sm-block">
  <div class="container">
    &copy; Lukáš Pokorný
    <%= yield :footer %>
  </div>
</footer>

<div id="ajax-indicator" style="display:none"><i class="fa fa-spinner fa-spin fa-large"></i></div>
</body>
</html>
